        /* Glopal Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {
    --main-color: #009688;
    --back-color: #f2f2f2;
    --text-color: #c9c9c9;
    --white: #f1f8f5;
    --nav-color: #252f31;
    --footer-color: #191e22;
    --heading-color: #6e7776;
    --transition-delay: .4s;
    --main-padding: 60px
}

body {
    font-family: sans-serif, Tahoma, Geneva, Verdana;
    height: 5000px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

button {
    border: none;
    background: none
}

button:focus {
    outline: none
}

ul {list-style: none}


/* conpounat */

.main-heading h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--heading-color)
}

.main-heading p {
    color: var(--heading-color);
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 30px
}

        /* Start landing */

.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-position-X: center;
    position: relative;
    height: calc(100vh - 65px)
}

.landing::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .4);
}

.landing .container {
    position: relative;
    height: 100%;
    z-index: 1;
}

.landing .text {
    width: fit-content;
    max-width: 100%;
    text-align: center;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: sans-serif;

}

.landing .text h1 {
    padding: 5px 5px;
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    font-size: 40px;
    margin-bottom: 25px
}

.landing .text button {
    color: var(--white);
    border: 2px solid var(--white);
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    line-height: 1
}

@media (max-width: 767px) {
    .landing .text h1 {font-size: 24px}

    .landing .text button {padding: 8px 15px}
}

.landing ul {
    position: absolute; 
    bottom: 30px;
    right: 20px;
}

.landing ul li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--white);
    margin-bottom: 8px;
    cursor: pointer
}

.landing ul li:hover,
.landing ul li:first-child {background-color: var(--white)}
    
        /* End landing */

        /* Start Header */

header {
    background-color: var(--nav-color);
    color: var(--white);
    padding: 15px 0
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    cursor: pointer
}

header .logo img {
    width: 35px;
    padding: 1px;
    background-color: var(--white);
}

header .logo h3 {
    text-transform: UPPERCASE;
    font-size: 22px;
    margin-left: 10px;
}

header .logo h3 span {
    color: var(--main-color);
    text-transform: lowercase;
    font-size: 24px;
}

header nav i {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

@media (min-width: 992px) {
    header nav i#icon {display: none}
}

header nav i.click + ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 280px;
    background: var(--main-color);
    z-index: 2;
}

header nav i.click + ul li {
    margin: 0;
    padding-bottom: 12%;
    font-size: 18px;
    border-bottom: 1px solid;
    padding-left: 10px;
    color: var(--white)
}

header nav i.click + ul li:last-of-type {border: none}

header nav ul {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color);
    font-size: 15px;
}

@media (max-width: 991px) {
    header nav ul {
        display: none;
    }
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    color: inherit;
    text-decoration: none;
    transition: var(--transition-delay);
}

header nav ul li a:hover {
    color: var(--main-color);
}

        /* End Header */

        /* Start My Values */

.my-values{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding)
}

.my-values .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 35px;
    align-items: center;
    text-align: center
}

.my-values .container section i {
    font-size: 42px;
    color: var(--main-color)
}

.my-values .container section h3 {
    margin: 25px;
    text-transform: uppercase;
    color: var(--heading-color)
}

.my-values .container section p {
    color: var(--text-color);
    line-height: 1.6;
}

        /* End My Values */

        /* Start About Me  */
.about-me {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--back-color);
}

.about-me .container {
    display: flex;
    justify-content: flex-end;
}

.about-me .container img {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.about-me .container .text {
    width: 62%;
}

.about-me .container .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 30px;
}

.about-me .container .content section {
    display: flex;
}

.about-me .container section i {
    font-size: 28px;
    color: var(--main-color);
    margin-right: 15px;
    margin-top: 12px;
}

.about-me .container section h3 {
    color: var(--heading-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
}

.about-me .container section p {
    color: var(--heading-color);
    line-height: 1.6;
}

@media (max-width: 767px) {
    .about-me .container img {display: none}
    .about-me .container .text {width: 100%; text-align: center}
    .about-me .container .text p {text-align: center}
    .about-me .container .content {grid-template-columns: none}
    .about-me .container .content section {display: unset}
    .about-me .container section i {margin: 0 0 15px 0}
}

        /* End About Me  */
